::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #E0E0E0;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #E0E0E0;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #E0E0E0;
}

input[type=text]{
    margin: 0 !important;
    -webkit-transition: background 0.5s !important; /* Safari */
    transition: background 0.5s !important;
}

input[type=text]:focus{
    border-bottom: none !important;
    box-shadow: none !important;    
    background-color: white;
}

.nav-wrapper ul{
    width: 85%;
}

.search-bar{
    width: 59%;
    margin-right: 11px;
}

.search-bar .input-field, .search-bar a{
    background: rgba(0,0,0,0.04);
    height: 45px !important;
    margin-top: 9.5px !important;
    margin-right: 0 !important;
}

.search-bar a{
    border-radius: 5px 0 0 5px;
    margin-right: 0 !important;
}

.search-bar .input-field{
    border-radius: 0 5px 5px 0;
    padding: 0 !important;
}

.search-bar .input-field input[type=text]{
    padding-left: 8px;
    position: relative;
    top: -9px;
}

.search-bar a i{
    position: relative;
    left: -2px;
    line-height: 46px;
    color: #dbdbdb;
}